/* sidebar.component.css */
.transition-all {
  transition: all 0.3s;
}

.w-20 .ml-4 {
  display: none;
}

.w-64 .ml-4 {
  display: inline;
}

nav a {
  display: flex;
  align-items: center;
  padding: 10px;
}

nav a:hover {
  background-color: #374151; /* Tailwind CSS bg-gray-700 equivalent */
}
