<div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [ngClass]="{'w-20': isCollapsed, 'w-64': !isCollapsed}" class="bg-gray-800 text-white h-full flex flex-col transition-all duration-300">
  <div class="flex items-center justify-between h-16 px-4">
    <img src="../../../../assets/images/logo/logo.png" alt="Logo" class="h-8">
  </div>

  <nav class="flex flex-col flex-grow mt-4">
    <div *ngFor="let category of menuCategories">
      <div class="text-gray-400 px-4 py-2">{{ category.name }}</div>
      <ng-container *ngFor="let item of category.items">
      <a [routerLink]="item.routerLink" class="flex items-center px-4 py-2 hover:bg-gray-700" *ngIf="item.show">
        <mat-icon class="mr-2">{{item.icon}}</mat-icon>
        <span class="text-sm" *ngIf="!isCollapsed">{{item.label}}</span>
      </a>
    </ng-container>
    </div>
  </nav>
</div>
