
  .menu-box {
    padding: 8px;
    border-radius: 4px;
    transition: box-shadow 0.3s, border-color 0.3s;
  }

  button.mat-button {
    display: flex;
    align-items: center;
    padding: 8px;
    transition: background-color 0.3s;
  }

  .mat-menu-content {
    padding: 0;
  }

  .mat-menu-item {
    padding: 8px 16px;
    transition: background-color 0.3s;
  }

  .mat-menu-item:hover {
    background-color: #f0f0f0;
  }
